<%- include('partials/header'); -%>
<main>
<div class="holder d-flex">
    
    <div class="container">
        <header class="text-center align-items-center mb-5">
            <h1 class="display-4">Fuksy wracaja do Notts!</h1>
            <p class="fst-italic ">Pomozecie??</p>
            <p class="fst-italic ">Below is a list of things which we'll need at the beginning, before our stuff arrives from NZ.</p>
            <p class="fst-italic ">If there's anything that we could borrow click Thumbs-Up</p>
        </header>

        
        <div class="row">
            <div class="col-lg-5 mx-auto">

                <!-- CHECKBOX LIST -->
                <div class="card rounded border-0 shadow-sm position-relative">
                    <div class="card-body p-5">
                        <div class="d-flex mb-4 align-items-center pb-4 border-bottom"><i class="fa-solid fa-plane-arrival"></i>
                            <div class="ms-3">
                                <h4 class="text-uppercase fw-weight-bold mb-0">Nottingham arrival</h4>
                                <p class="text-gray fst-italic mb-0">03 November 2022</p>
                            </div>
                        </div>
                     
                        <form action="/submit" method="POST">
                        <div class="input-group mb-3">
                            <input type="text" name="listItem" class="form-control" placeholder="Add new list item" aria-label="new list item" aria-describedby="button-addon2" autocomplete="off">
                            <button class="btn btn-outline-secondary" type="submit" id="add">Add</button>
                          </div>
                     
                        <div id="toborrow" >
                          <% newListItems.forEach(function(item){ %>
                            <% if(item.selected == 0) { %>
                            <div class="form-check  mb-3 d-flex justify-content-between" >
                                <a href="/update/<%=item.id%>"   value="<%=item.id%>" <%=item.selected  == 1 ? 'checked' :''%> <i class="fa-regular fa-thumbs-up"></i></a>
                                <label class="form-check-label" for="flexCheck1"><span class="fst-italic p-1"><%=item.name%></span></label>
                                <a href="/delete/<%=item.id%>" class="delete"  name="delete" value="<%=item.id%>" onclick="if (confirm('Are you sure?')) return true; return false"><i class="form-check fa-solid fa-xmark"></i></a>
                            </div>
                            <% } %>
                            <% }) %>
                        </div>
                  
                     <div class=" mb-3 d-flex justify-content-between">
                        
                        <i class="fa-solid fa-arrows-down-to-line"></i>
                        <h4 class="text-uppercase fw-weight-bold mb-0">Approved by Cauldwell - Wojnarski</h4>
                        <i class="fa-solid fa-arrows-down-to-line"></i>
                    </div>
                    <div id="oktoborrow">
                        <% newListItems.forEach(function(item){ %>
                            <% if(item.selected == 1) { %>
                        <div class="form-check mb-3 d-flex justify-content-between">
                      
                               <a href="/update/<%=item.id%>"   value="<%=item.id%>" <%=item.selected  == 1 ? 'checked' :''%> <i class="fa-solid fa-thumbs-up"></i></a>
                                <label class="form-check-label" for="flexCheck1"><span class="fst-italic p-1"><%=item.name%></span></label>
                                <a href="/delete/<%=item.id%>" class="delete"  name="delete" value="<%=item.id%>" onclick="if (confirm('Are you sure?')) return true; return false"><i class="form-check fa-solid fa-xmark"></i></a>
                            </div>
                              <% } %>
                              <% }) %>
                         
                    </div>
                </form>
                </div>
            </div>
        </div>
    </div>

</main>

<%- include('partials/footer'); -%>
